.profile {
 font-size: 20px;
 color: brown; 
 letter-spacing: 2px; 
 text-align: center;
 font-weight: 100
}

.title{
    text-align: center;
    background-color: aquamarine;
    font-size: 50px;
        
}

/*p { font-size : 60px }*/

.box{
  margin : 20px; 
  padding : 30px;
  border : 1px solid black;
  border-radius : 5px;
  box-shadow : 5px 5px gray, 10px 10px 10px yellow inset;
}

.container {
    width: 800px;
}

.header {
    width: 100%;
    height: 100px;
    background: blue;
}
.left {
    width: 30%;
    height: 400px;
    background: #eee;
    float: left;
}

.right {
    width: 70%;
    height: 400px;
    background: coral;
    display: inline-block;
}

.footer {
    width: 100%;
    height: 100px;
    background: black;
    clear: both;
}

.left2 {
    width : 80%;
    float:left;
    margin-left: 0px;
    clear: both;
}

.style1 {
    font-weight: bold;
    font-size: 40px;
    clear: both;
}

.style2 {
    font-size: 20px;
    clear: both;
}

.right2 {
    width : 20%;
    float:right;
    margin-right: -40px;
    margin-top: -70px; 
    clear: both;
}


.navbar>li{
    display: inline-block;
    color: white;
    font-weight: bold;
    width: 80px;
    text-align: center;
    padding: 10px;
    float: left;
    margin-right: 280px;
    border-radius: 10px;
}

.navbar>a{
    font-size: 16px;
    text-decoration: none;
    padding: 0;
}
.main-background {
    width: 100%;
    height: 500px;
    background-image: url(../img/img001.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    padding: 2px;
}

.main-title {
    color: white;    
    font-size: 60px;
    margin-top: 100px;
    text-align: center;
}s

.aaaa {
    width: 200px   !important;
    height: 50px;
    background-color: blue;
    border: none;
    padding: 15px;
    position: relative;
    top: 50%;
    left: 50%;
   
}    

.p {font-size: 25px  !important;
    color: white;
    text-align: center;
}


.main-button {
    padding: 15px;
    font-size: 30px;
    font-weight: bold;
    background: white;
    border : none;
    border-radius: 10px;
    position: relative;
    top: 50px;
    left: 45%;
}

.navbar {
    position: absolute;
    top: 18px;
    left: 29%;
    border-bottom: 3px solid;
}
